#test{
    display: none;
}

#admin_down{
    display: none;
}


.serv_down{
    display: none;
}

.file_down{
    display: none;
}



#Doc{
    display: none;
}

#sidebar{
    height: 100%;
    overflow-y: scroll;
}

